<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDUm-b9XKzft0Xz2bUqVSNCWTokmOBpCGQ&libraries&libraries=places"></script>
</html>
    <style>

  .t1{
    width: 800px;
    margin-left: 400px;
  }

  .tableconcern{
    margin-top: -450px;
  }

    img {
      height: 30px;
      width: 30px;
      margin-left: 20px;
    }
    h4{
      color: white;
    }
</style>
<body>
  <div class="conn">
  <nav class="d-flex navbar2 justify-content-between">
    <img src="static\img\logooo.png" alt="" class="logo">

      <div class="d-flex justify-content-between">
      <a style="height:40px; margin-top: 20px;" class="btn btn-success" href="/" >Home</a>  
      <a  style="height:40px; margin-top: 20px;"class="btn btn-primary" href="/logout">Logout</a>
    </div>
  </nav>


  
  <h4>Search locations by coordinates</h4> 
  <input type="text" id="search-input" placeholder="Search">

  <div id="map"></div>

  
  
  <script>
    function initMap() {
      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 12,
        center: { lat: 37.7749, lng: -122.4194 }
      });

      var input = document.getElementById('search-input');
      var searchBox = new google.maps.places.SearchBox(input);

      map.addListener('bounds_changed', function() {
        searchBox.setBounds(map.getBounds());
      });

      var markers = [];

      searchBox.addListener('places_changed', function() {
        var places = searchBox.getPlaces();

        if (places.length === 0)
          return;

        markers.forEach(function(marker) {
          marker.setMap(null);
        });
        markers = [];

        var bounds = new google.maps.LatLngBounds();
        places.forEach(function(place) {
          if (!place.geometry)
            return;

          markers.push(new google.maps.Marker({
            map: map,
            title: place.name,
            position: place.geometry.location
          }));

          if (place.geometry.viewport)
            bounds.union(place.geometry.viewport);
          else
            bounds.extend(place.geometry.location);
        });
        map.fitBounds(bounds);
      });
    }
  </script>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    var userInput = document.getElementById('search-input');
    var volunteerButton = document.getElementById('volunteer-button');

    userInput.addEventListener('input', function() {
      var message = userInput.value.toLowerCase();
      if (message.includes('thankyou')) {
        volunteerButton.textContent = 'Thank You';
        volunteerButton.setAttribute('href', '/thankyou');
      } else {
        volunteerButton.textContent = 'Volunteer';
        volunteerButton.setAttribute('href', '/thankyou');
      }
    });
  });
</script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDUm-b9XKzft0Xz2bUqVSNCWTokmOBpCGQ&libraries=places&callback=initMap"></script>

 

    <div class="col-lg-10 p-1 tableconcern">
        <h2 class="text-center" style=" color: rgb(91, 211, 75);">Concerns</h2>

        <table class="table table-striped t1" style="background-color: rgba(246, 240, 240, 0.5);">
            <thead>
              <tr>
                
                <th scope="col">Concern</th>
                <th scope="col">Image</th>
                <th scope="col">Location</th>            
                <th scope="col">Coordinates/Link</th>
                <th scope="col">Relevant to</th>
                <th scope="col">Actions</th>
                <th scope="col">Emergency</th>
              </tr>
            </thead>
            <tbody>
            {% for post in posts %}
            {% if loggedUser.id != post.user_id %}
  
            <tr class="table-heigh">
                
                <td class="table-row-position">{{post.name}}</td>
                <td class="table-row-position"><img class="image-dashboard image-buy" src="..\static\UPLOAD_FOLDER\{{post.image}}" alt="Image" onmouseover="scale(this, 4)" onmouseleave="scale(this, 1)">
                </td>
                <td class="table-row-position">{{post.location}}</td>
                <td class="table-row-position">
                  {% if ',' in post.linki %}
                  <a href="#" class="view-map-button"
                    data-coordinates="{{ post.linki }}">{{ post.linki }}</a>
                  {% elif post.linki.startswith('http://') or post.linki.startswith('https://') %}
                  <a href="{{ post.linki }}" target="_blank">{{ post.linki }}</a>
                  {% else %}
                  {{ post.linki }}
                  {% endif %}
                </td>
                <td class="table-row-position">{{post.num_saves}} person/s</td>
                <td class="table-row-position">

                <a class="btn btn-info" href="/post/{{post.id}}">View</a>
                <a id="volunteer-button" class="btn btn-success" href="/thankyou">Volunteer</a>

                {% if post.id in savedposts  %}
                <a class="btn btn-warning" href="/unsave/{{post.id}}">Undo</a>
                {% else %}
                    <a class="btn btn-primary" href="/save/{{post.id}}">Same concern</a>
                {% endif %}
                
                </td>
                <td class="table-row-position">
                  {% if post.num_saves == 0 %}
                  <img src="/static/img/grey.png" alt="Emergency Image">
                  {% elif post.num_saves >= 1 %}
                  <img src="/static/img/red.png" alt="Emergency Image">
                  {% endif %}
                </td>
              </tr>
              {% endif %}
            {% endfor %}
            </tbody>
          </table>
    </div>
  </div>
</div>
</body>

<script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/scr.js') }}"></script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDVol2KKEIKgW7vpx8DN7jujBVnr9G1TxQ"></script>


</html>