*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.container{
    width: 100%;
    height: 100vh;
    background-image:url('/static/img/bannner.png');
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}

.navbar{
    height: 12%;
    display: flex;
    align-items: center;
}

.logo{
    width: 100px;
    cursor: pointer;
}

nav{
    flex: 1;
    text-align: right;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 60px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 25px;
}

.row{
    display: flex;
    height: 88%;
    align-items: center;
}

.col{
    flex-basis: 50%;
}

h1{
    color: white;
    font-size: 100px;
}

p{
    color: white;
    font-size: 11px;
    line-height: 15px;
}

.card{
   width: 200px;
   height: 230px;
   display: inline-block;
   border-radius: 10px;
   padding: 15px 25px;
   box-sizing: border-box;
   cursor: pointer;
   margin: 10px 15px;
   background-image:url('/static/img/logooo.png');
   background-position: center;
   background-size: cover;
   transition:transform 0.5s;
}

.card1{
    background-image:url('/static/img/concerns.png');
}

.card2{
    background-image:url('/static/img/volunteer.png');
}

.card3{
    background-image:url('/static/img/ISSUE.png');
}

.card8{
    background-image:url('/static/img/info.png');
}


.card:hover {
    transform:translateY(-10px)

}

.container1{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.card0 {
    width: 45%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgba(0,0,0,.5);
    color: #fff;
}

.card-left {
    margin-right: 10px;
}

.card-right {
    margin-left: 10px;
}

.card-title {
    font-size: 24px;
    margin-bottom: 10px;
}

.table {
    width: 100%;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="file"] {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.btn {
    background-color: #007bff;
    color: #fff;
    padding: 8px
}
