.body{
   
    margin: auto;
}

.conn{
    width: 100%;
    height: 100vh;
    background-image:url('/static/img/bannner.png');
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}
.navbar1{
    height: 5%;
    background-color: lightgrey;
    padding: 1%;
    border-radius: 10px;
}


.navbar2{
    height: 16%;
    padding: 1%;
    border-radius: 10px;
}

.dashboard{
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 2% 33%;
    padding: 3% 2%;
    border-radius: 20%;
    width: 30%;
    height: 20%;
}

.marketplace-img{
    width: 200px;
    height: auto;
    border-radius: 5%;
    }

.buy-sell-img{
    width: 80%;
    height: auto;
    margin: 5%;
    border-radius: 10%;
}

.d-div1{
    display: flex;
    text-align: center;
}
.image-one{
    width: 50%;
    height: auto;
    margin-right: 20px;
}

.one-div{
    display: flex;
    align-items: center;
    width: 90%;
}

.image-buy{
    width: 80px;
    height: auto;
}

.image-dashboard{
    transition: 500ms;
    position: relative;
}

.afterTransition{
    display: absolute;
    top: 50%;
    left: 50%;
}




.nav-img{
    width: 20%;
    height: auto;
  }

.table-heigh{
    height: 100px;
  }

.table-row-position{
    vertical-align: middle;

}


.ul-2{
    list-style: none;
    flex: 2;

}

.ul-1{
    list-style: none;
    flex: 2;
    margin-left: 8%;
}


.logo{
    width: 100px;
    cursor: pointer;
}


.table3 {
    width: 100px;
}


#map {
    height: 400px;
    width: 300px;
    margin-right: 50px;
  }
  .block {
    display: flex;
    margin-top: -0px;
  }

  .block1 {
    display: flex;
  }

  .table3 {
    width: 200px;
    margin-top: -60px;
  }
.redd{
  margin-top: -15px;
}

  .redd::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: rgb(212, 38, 38);
}
.redd:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: rgb(212, 38, 38);
    opacity: 1;
}
.redd::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: rgb(212, 38, 38);
    opacity: 1;
}
.redd:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: rgb(212, 38, 38);
}

.form-control:focus {
        border-color: #04ef24;
        box-shadow: 0 0 0 0.2rem rgba(24, 247, 20, 0.25);
    } 

